/*-- scss:defaults --*/

.quarto-title-block .quarto-title-banner {
  background-image: url(images/rmmonkey.png);
  background-size: 300px;
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 10px;
  background-origin: content-box;
}

.navbar-brand {
    max-height: 90px;
    margin: -8px;
}

.navbar-logo {
    max-height: 90px;
    max-width: 90px;
    height: 89px;
    width: 89px;
    margin-top: -9px;
}


